*{
    padding: 0;
    margin: 0;
}
.logo-img{
    width: 10%;
    border-radius: 1.2rem;
    
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-size-adjust: 3rem;
    font-size: 3rem;
    background-color:black;
    color: white;
    
}
a{
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
    margin-right: 1rem;
    padding-top: 2rem;
    color: white;
    
}

#about{
    display: flex;
    color: white;
    
    
}
.left{
    width: 30%;
    

}
.left img{
    width: 100%;
    border-radius: 1.2rem;
    margin: 2rem;
    box-shadow: 1rem 1rem 1rem #AE3888;
}
.right{
    width: 70%;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.card2{
    width: 20rem;
    background-color:#131313;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1.2rem;
    box-shadow: 1rem 1rem 1rem brown;
}
.card2-img2{
    width: 100%;
    border-radius: 1.2rem;
    background-color: #131313;
}
#menu{
    display: flex;
    justify-content: space-evenly;
    background-color: #131313;
    
}
#chocolate{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    width: 100%;
    
}
.card2-img2{
    width: 100%;
    
    border-radius: 1.2rem;
    padding: 1rem;
    background-color: #131313;
    

}
#contact{
    display: flex;
    justify-content: center;
    padding: 2rem;
    height: 70;
    background-color: #131313;
    color: white;
}

input{
    margin: 0.5rem;
    padding: 0.5rem;
    width: 20vw;
    border-radius: 0.5rem;
}
textarea{
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
    border-radius: 0.5rem;
    height: 3rem;
}
body{
    background-color:#131313; 
    
    
}
footer {
    text-align: center;
    padding: 3px;

    color: white;
    padding: 1rem;
    margin: 2rem;
    background-color: #131313;
  }
h1{
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    color: white;
}
h2{
    color: white;
}
.logo-img{
    width: 10%;
    border-radius: 90%;
    
    
}
.card2{
    width: 60vw;
    background-color:white;
    color: black;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem; 
    margin: 2rem;
    transition: 0.9s;
    
}


.card2:hover{
    box-shadow:  1rem 1rem 1rem blue  ;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    transition: transform .2s;

}
.col-lg-4:hover{
    box-shadow: 1rem 1rem 1rem black;
    
}

 .card2 img{
    width: 10rem;
    padding: 1rem;

 }
 .card2 img:hover{
    transform: scale(1.5);
    
 }
 

@media screen and(max-width:768px){
    .card2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
} 
    



.card2{
    width: 60vw;
    background-color:black;
    color: white;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem; 
    margin: 2rem;
    transition: 0.9s;
    
}


.card2:hover{
    box-shadow:  1rem 1rem 1rem black  ;
    cursor: pointer;
    background-color:black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    transition: transform .2s;

}
.col-lg-4:hover{
    box-shadow: 1rem 1rem 1rem black;
    
}

 .card2 img{
    width: 10rem;
    padding: 1rem;

 }
 .card2 img:hover{
    transform: scale(1.5);
    
 }
 

@media screen and(max-width:768px){
    .card2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
} 


  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: black;
    padding: 20px;
  }

    


